body {
    background-color: #ffffff;
    color: #bbc152;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    line-height: 1.6;
}

header {
    background: #d30000;
    padding: 0px;
    text-align: center;
    background: url(https://www.roomforzoom.com/backgrounds/Fire-Emblem-3-Computer-generated-242.jpg);
    padding: 21rem 0;
    border-bottom: 3px solid #EBD900;
}
.headerh1 {
    color: #EBD900;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: #EBD900;
    border-color: #EBD900;
    color: #1a1a1a;
    font-weight: bold;
    padding: 0.75rem 2rem;
}



table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #4c00ff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #6c1414;
}

th {
    background: #ff0378;
    color: white;
}

.filtro {
    width: 90%;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background: #c58aff;
    border: 1px solid #3f51b5;
    color: white;
}

#contacto {
    background-color: #EBD900;
    border-color: #EBD900;
    color: #1a1a1a;
    font-weight: bold;
    padding: 0.75rem 2rem;
    margin-top: 20px;
}